@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 62.5%;
}
/* body {

} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
